<div class="p-5">
    <p-panel header="Add-History" [toggleable]="true">
        <div>
            <h4 style="color: #607D8B;">Font Name<span style="color: red"> *</span>:</h4>
            <input class="col-5 md:col-5" type="text" [(ngModel)]="fontname" pInputText placeholder="add fontname">
        </div>

        <h4 style="color: #607D8B;">Release version info<span style="color: red"> *</span>:</h4>
        <span class="p-float-label">
            <textarea id="float-input" rows="5" cols="65" [(ngModel)]="releaseverinfo" pInputTextarea></textarea>
            <label for="float-input">add version</label>
        </span>
        <h4 style="color: #607D8B;">Release item name<span style="color: red"> *</span>:</h4>
        <span class="p-float-label">
            <textarea id="float-input" rows="5" cols="65" [(ngModel)]="releaseitemname" pInputTextarea></textarea>
            <label for="float-input">add item name</label>
        </span>
        
        <button pButton pRipple type="button" label="Submit" class="p-button-success" style="margin-right:20px;margin-left:150px;margin-top:15px;text-align: center" (click)="Historyinsert()"></button>
        
        <button pButton pRipple type="button" label="Back" class="p-button-raised p-button-danger" [routerLink]="['/admin-history']"></button>
    
    </p-panel>

</div>