.user{
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgba(145, 145, 145,0.4);
  border-left: 1px solid rgba(145, 145, 145,0.4);
  border-right: 1px solid rgba(145, 145, 145,0.4);
  font-size: larger;
  padding: 20px;
}
