
:host {
    display: block;
    outline: none;
  }
    .mat-list-item.active {
      background-color: mat-color(50);
    }
  
  
  .mat-list-item {
    padding: 0 0px;
  }
    .routeIcon {
      margin-right: 40px;
    }
  
  