#button {
  border-radius: 40px;
  align-self: center;
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

 #button:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 11px;
  right: -24px;
  transition: 0.5s;
}

#button:hover{
  padding-right: 24px;
  padding-left:8px;
}

#button:hover:after {
  opacity: 1;
  right: 10px;
}


iframe{
  position:relative;
  width:200px;
  height:300px;
  opacity:0.5;
  pointer-events:auto;
}