<div class="surface-ground border-top-1 border-bottom-1 border-gray-300 px-4 py-3">
  <div class="flex flex-column md:align-items-center md:justify-content-between md:flex-row">
    <div class="font-medium text-3xl text-900">BB{{projectid}} - {{project.bprogramme_name}} (Edit Program)</div>
    <div class="mt-3 md:mt-0">
      <button pButton pRipple type="button" class="p-button-success" label="Update" icon="pi pi-save"
        (click)="Submit()"></button>
    </div>
  </div>
</div>

<div class="flex flex-wrap" style="width: 100%;">
  <div class="w-full lg:w-12 px-3">
    <ul class="surface-card p-3 m-0 list-none flex overflow-x-auto select-none">
      <li class="pr-3">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 === 0, 'text-700': active4 !== 0}" (click)="active4 = 0">
          <span class="font-medium">Summary</span>
        </a>
      </li>
      <li class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
      <li class="px-1" *ngIf="project.ptype == 'Private'">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 === 9, 'text-700': active4 !== 9}" (click)="active4 = 9; getPrograms()">
          <span class="font-medium">Invited</span>
        </a>
      </li>
      <li *ngIf="project.ptype == 'Private'" class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
      <li class="px-1">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 === 1, 'text-700': active4 !== 2}" (click)="active4 = 1">

          <span class="font-medium">Overview</span>
        </a>
      </li>
      <li class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
      <li class="px-1">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 === 2, 'text-700': active4 !== 2}" (click)="active4 = 2">

          <span class="font-medium">Tech Info</span>
        </a>
      </li>
      <li class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
      <li class="px-1">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 === 3, 'text-700': active4 !== 3}" (click)="active4 = 3">

          <span class="font-medium">Scope</span>
        </a>
      </li>
      <li class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
      <li class="px-1">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 === 4, 'text-700': active4 !== 4}" (click)="active4 = 4">

          <span class="font-medium">Rewards</span>
        </a>
      </li>
      <li class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
      <li class="px-1">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 === 5, 'text-700': active4 !== 5}" (click)="active4 = 5">

          <span class="font-medium">Rules</span>
        </a>
      </li>
      <li class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
      <li class="px-1">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 ===  6, 'text-700': active4 !==  6}" (click)="active4 = 6">

          <span class="font-medium">Access</span>
        </a>
      </li>
      <li class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
      <li class="px-1">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 === 7, 'text-700': active4 !== 7}" (click)="active4 = 7">

          <span class="font-medium">Announcement</span>
        </a>
      </li>
      <li class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
      <li class="px-1">
        <a pRipple
          class="cursor-pointer px-4 py-3 flex align-items-center hover:surface-100 border-round transition-colors transition-duration-150"
          [ngClass]="{'bg-primary hover:bg-primary': active4 === 8, 'text-700': active4 !== 8}" (click)="active4 = 8">

          <span class="font-medium">Resources</span>
        </a>
      </li>
      <li class="flex align-items-center">
        <div style="width:1px; height: 50%" class="border-right-1 surface-border"></div>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="active4 == 0">
  <div class="pr-0 lg:pr-5 lg:pl-5">
    <div class="grid">
      <div class="col-12 md:col-4">
        <h4 style="color: #607D8B;">Programme Name<span style="color: red"> *</span>:</h4>
        <input class="col-12 md:col-12" type="text" [disabled]="true" [(ngModel)]="program_name" pInputText maxlength="100"
          placeholder="Programme Name">
      </div>
      <div class="col-12 md:col-4">
        <h4 style="color: #607D8B;">APM ID:</h4>
        <input class="col-12 md:col-12" type="text" [disabled]="true" [(ngModel)]="apm_id" pInputText
          placeholder="Apm Id">
      </div>
      <div class="col-12 md:col-4">
        <h4 style="color: #607D8B;">Unit<span style="color: red"> *</span>:</h4>
        <input class="col-12 md:col-12" disabled="true" type="text" [(ngModel)]="unit" pInputText
          placeholder="Unit Name">
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-6">
        <h4 style="color: #607D8B;">Start Date<span style="color: red"> *</span>:</h4>
        <p-calendar class="col-12 md:col-8 p-0" inputId="basic" [disabled]="true" [minDate]="minDate" [(ngModel)]="startdate"
          [showIcon]="true" [style]="{width: '100%'}"></p-calendar>
      </div>
      <div class="col-12 md:col-6">
        <h4 style="color: #607D8B;">End Date<span style="color: red"> *</span>:</h4>
        <p-calendar class="col-12 md:col-8 p-0" inputId="basic" [minDate]="minDate" [(ngModel)]="enddate"
          [showIcon]="true" [style]="{width: '100%'}"></p-calendar>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-6">
        <h4 style="color: #607D8B;">Programme Type<span style="color: red"> *</span>:</h4>
        <p-dropdown class="col-12 md:col-8 p-0" [options]="invitedoptions" [(ngModel)]="project.ptype"
          [showClear]="true" placeholder="Select Program Type" optionLabel="name" optionValue="code"
          [style]="{'width':'100%'}"></p-dropdown>

      </div>
      <div class="col-12 md:col-6">
        <h4 style="color: #607D8B;">Programme criticality<span style="color: red"> *</span>:</h4>
        <p-dropdown class="col-12 md:col-8 p-0" [options]="options" [(ngModel)]="criticality"
          placeholder="Select criticality" optionLabel="name" optionValue="code" [style]="{'width':'100%'}">
        </p-dropdown>

      </div>
    </div>
  </div>
</div>



<div *ngIf="active4 == 9">
  <div class="pr-0 lg:pr-5 lg:pl-5">
    <p-table #dt [value]="allResearcherList" [(selection)]="project.invitedResearcher"  styleClass="p-datatable-customers"
      [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" 
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['avatar','emp_id','count', 'total_bounty_earned']" >
      <ng-template pTemplate="caption">
        <div class="grid">
          <div class="col-12 md:col-8">List of Researcher</div>
          <div class="col-12 md:col-4" style="text-align: right;">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Search" />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>
            <p-tableHeaderCheckbox (click)="(e.checked)" #e></p-tableHeaderCheckbox>
          </th>
          <th>Avatar</th>
          <th>Total Bounty Earned</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>
            <p-tableCheckbox *ngIf="!isExist(rowData)" [value]="rowData"></p-tableCheckbox>
          </td>
          <td class="text-blue-600">
            <span routerLink="/Profile/{{rowData.srno}}">{{rowData.avatar}}</span>
          </td>
          <td>
            <span *ngIf="rowData.total_bounty_earned">{{rowData.total_bounty_earned}}</span>
            <span *ngIf="!rowData.total_bounty_earned">0</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div *ngIf="active4 == 1">
  <div class="pr-0 lg:pr-5 lg:pl-5  ">
    <div>
      <h4 style="color: #607D8B;">Programme Name<span style="color: red"> *</span>:</h4>
      <input class="col-12 md:col-12" type="text" [(ngModel)]="program_name" disabled pInputText
        placeholder="Programme Name" >

    </div>
    <div>
      <h4 style="color: #607D8B;">Brief<span style="color: red"> *</span>:</h4>

      <textarea class="col-12 md:col-12" rows="5" pInputTextarea [(ngModel)]="description"  maxlength="10000"
        placeholder="Programme Description"></textarea>


    </div>
    <div>
      <h4 style="color: #607D8B;">Functionality Description<span style="color: red"> *</span>:</h4>
      <p-editor [style]="{'height':'320px'}" [(ngModel)]="overview"></p-editor>
    </div>
    <br>
  </div>
</div>



<div *ngIf="active4 == 2">
  <div class="pr-0 lg:pr-5 lg:pl-5  ">
    <div>
      <h4 style="color: #607D8B;">Technology used<span style="color: red"> *</span>:</h4>
      <p-editor [style]="{'height':'100px'}" [(ngModel)]="technology">
        <ng-template pTemplate="header">
          <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button type="button" class="ql-italic" aria-label="Italic"></button>
              <button type="button" class="ql-underline" aria-label="Underline"></button>
          </span>
        </ng-template>
      </p-editor>

    </div>
    <div class="grid">
      <div class="col-12 md:col-3">
        <h4 style="color: #607D8B;">Static Pages<span style="color: red"> *</span>:</h4>
        <input [(ngModel)]="staticpage" type="text" pInputText>
      </div>
      <div class="col-12 md:col-3">
        <h4 style="color: #607D8B;">Dynamic Pages<span style="color: red"> *</span>:</h4>
        <input type="text" [(ngModel)]="dynamicpage" pInputText>
      </div>
      <div class="col-12 md:col-3">
        <h4 style="color: #607D8B;">API<span style="color: red"> *</span>:</h4>
        <input type="text" [(ngModel)]="api" pInputText>
      </div>
      <div class="col-12 md:col-3">
        <h4 style="color: #607D8B;">Roles<span style="color: red"> *</span>:</h4>
        <input type="text" [(ngModel)]="roles" pInputText>
      </div>
    </div>

  </div>
  <br>
</div>




<div *ngIf="active4 == 3">
  <div class="p-5">
    <div>
      <h4 style="color: #607D8B;">In Scope<span style="color: red"> *</span>:</h4>
    </div>
    <div class="grid">
      <input class="col-12 md:col-11 p-0" [(ngModel)]="newinScope" type="text"  maxlength="10000" pInputText >
      <div class="col-12 md:col-1">
        <p-button icon="pi pi-plus" (click)="AddInScope()"></p-button>
      </div>
    </div>
    <br>
    <div class="surface-section">
      <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
          *ngFor="let scope1 of inScope; let i = index">
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{scope1}}</div>
          <div class="w-6 md:w-2 flex justify-content-end">
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-text p-button-danger"
              (click)="deleteInScope(i)"></button>
          </div>
        </li>
      </ul>
    </div>



    <div>
      <h4 style="color: #607D8B;">Out Scope<span style="color: red"> *</span>:</h4>
    </div>
    <div class="grid">
      <input class="col-12 md:col-11" [(ngModel)]="newoutscope" type="text"  maxlength="10000" pInputText>
      <div class="col-12 md:col-1">
        <p-button icon="pi pi-plus" (click)="AddOutScope()"></p-button>
      </div>
    </div>
    <br>
    <div class="surface-section">
      <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
          *ngFor="let scope2 of outScope; let i = index">
          <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{scope2}}</div>
          <div class="w-6 md:w-2 flex justify-content-end">
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-text p-button-danger"
              (click)="deleteOutScope(i)"></button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <br>
</div>


<div *ngIf="active4 == 4">
  <div class="pr-0 lg:pr-5 lg:pl-5  ">
    <div class="grid">
      <div class="col-12 md:col-3">
        <h4 style="color: #607D8B;">Vulnerability Type<span style="color: red"> *</span>:</h4>
        <p-dropdown class="col-12 md:col-12 p-0" [options]="vunloptions" placeholder="Select Vulnerability Type"
          [(ngModel)]="newJob" optionLabel="name" optionValue="code" [style]="{'width':'100%'}"></p-dropdown>

      </div>
      <div class="col-12 md:col-3">
        <h4 style="color: #607D8B;">Reward Min value<span style="color: red"> *</span>:</h4>
        <input class="col-12 md:col-12" [(ngModel)]="newPricing" type="number" pInputText>
      </div>
      <div class="col-12 md:col-3">
        <h4 style="color: #607D8B;">Reward Max value<span style="color: red"> *</span>:</h4>
        <input class="col-12 md:col-12" [(ngModel)]="newMaxPricing" type="number" pInputText>
      </div>
      <div class="col-12 md:col-3">
        <h4 style="color: #607D8B;">Reward Unit<span style="color: red"> *</span>:</h4>
        <p-dropdown class="col-12 md:col-12 p-0" [options]="rewardUnit" placeholder="Select Unit"
          [(ngModel)]="reward_type" optionLabel="name" optionValue="code" [style]="{'width':'100%'}"></p-dropdown>

      </div>
      <div class="col-12 md:col-12" style="text-align: center;">
        <p-button label="Add Job" icon="pi pi-plus" (click)="AddJob()"></p-button>
      </div>
      <div class="col-12 md:col-12" *ngIf="jobs.length">
        <p-table [value]="jobs" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>SrNo.</th>
              <th>Vulnerability type</th>
              <th>Reward Min Value</th>
              <th>Reward Max Value</th>
              <th>Reward Unit</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-job let-i="rowIndex">
            <tr>
              <td>{{i+1}}</td>
              <td>{{job.jobtype}}</td>
              <td>{{job.pricing}}</td>
              <td>{{job.maxpricing}}</td>
              <td>{{job.reward_type}}</td>
              <td>
                <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteJob(i)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <br>
</div>

<div *ngIf="active4 == 5">
  <div class="pr-0 lg:pr-5 lg:pl-5 grid">
    <div class="col-12 md:col-3 p-0">
      <h4 style="color: #607D8B;">Category<span style="color: red"> *</span>:</h4>
      <p-dropdown class="col-12 md:col-12 p-0" [options]="ruleoptions" placeholder="Select Category"
        [(ngModel)]="newCatg" optionLabel="name" optionValue="code" [style]="{'width':'100%'}"></p-dropdown>
    </div>
    <div class="col-12 md:col-9 p-0 pl-1">
      <h4 style="color: #607D8B;">Rules<span style="color: red"> *</span>:</h4>
      <div class="grid">
        <div class="col-12 md:col-11">
          <input class="col-12 md:col-12" [(ngModel)]="newrules" type="text" maxlength="10000" pInputText>
        </div>
        <div class="col-12 md:col-1">
          <p-button icon="pi pi-plus" (click)="Addrules()"></p-button>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-12 p-0" *ngIf="rules.length">
      <p-table [value]="rules" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>SrNo.</th>
            <th>Rules Category</th>
            <th>Rules Details</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rule let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{rule.rules_category}}</td>
            <td>{{rule.rules_details}}</td>
            <td>
              <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteRules(i)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<br>


<div *ngIf="active4 == 6">
  <div class="pr-0 lg:pr-5 lg:pl-5  ">
    <div>
      <h4 style="color: #607D8B;">Access Information<span style="color: red"> *</span>:</h4>
      <p-editor [style]="{'height':'320px'}" [(ngModel)]="access"></p-editor>
    </div>
  </div>
  <br>
</div>

<div *ngIf="active4 == 7">
  <div class="pr-0 lg:pr-5 lg:pl-5 grid">


    <div class="col-12 md:col-3 p-0">
      <h4 style="color: #607D8B;">Announcement Category<span style="color: red"> *</span>:</h4>
      <p-dropdown class="col-12 md:col-12 p-0" [options]="Announcementptions" placeholder="Select Category"
        [(ngModel)]="newAnnoCat" optionLabel="name" optionValue="code" [style]="{'width':'100%'}"></p-dropdown>
    </div>
    <div class="col-12 md:col-9 p-0 pl-1">
      <h4 style="color: #607D8B;">Announcement<span style="color: red"> *</span>:</h4>
      <div class="grid">
        <div class="col-12 md:col-11">
          <textarea class="col-12 md:col-12" rows="1" pInputTextarea [(ngModel)]="newAnnouncement" maxlength="10000"
            placeholder="Announcement"></textarea>
        </div>
        <div class="col-12 md:col-1">
          <p-button icon="pi pi-plus" (click)="AddAnnouncement()"></p-button>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-12 p-0" *ngIf="announcements.length">
      <p-table [value]="announcements" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>SrNo.</th>
            <th>Announcement Category</th>
            <th>Announcement Details</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-announcement let-i="rowIndex">
          <tr>
            <td>{{i+1}}</td>
            <td>{{announcement.announcement_category}}</td>
            <td>{{announcement.announcement_details}}</td>
            <td>{{announcement.createddate | date:'dd-MMM-yyyy'}}</td>
            <td>
              <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
                (click)="deleteAnnouncement(announcement.srno,i)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>
  <br>
</div>

<div *ngIf="active4 == 8">
  <div class="pr-0 lg:pr-5 lg:pl-5  ">
    <div>
      <h4 style="color: #607D8B;">Resources<span style="color: red"> *</span>:</h4>
      <p-editor [style]="{'height':'320px'}" [(ngModel)]="resources"></p-editor>
    </div>
  </div>
  <br>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
