
<div *ngIf="login">

<div *ngIf="userInfo">
  <app-header [userInformation]="userInfo" style="margin-top:0px !important; padding-top:0px !important"></app-header>

  <div class="flex flex-column surface-ground pb-1" style="min-height: 85vh;">
    <div class="surface-overlay flex align-items-center justify-content-between relative shadow-2">
      <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
        leaveToClass="hidden" [hideOnOutsideClick]="true">
        <i class="pi pi-bars text-4xl"></i>
      </a>
      <div
        class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none">
        <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
          <li [routerLink]="[menu.url]" *ngFor="let menu of menuList">
            <a pRipple
              class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
              <i class="{{menu.icon}} mr-2"></i>
              <span>{{menu.text}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="toDisplay" class="flex flex-column flex-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="routingBody">
  </div>
  <app-footer></app-footer>

</div>
</div>
<div  *ngIf="!toDisplay">
  <router-outlet></router-outlet>
</div>
<p-toast></p-toast>
