.appMenu{
    width: 100%;
}
.routingBody{
    z-index: 1;
    max-height: 3500px;
}

.hamburger_div{
  /* width: 87%; */
  width: 100%;
  margin-left: 0px;
  margin-top: -44px;
  position: absolute;
  background-color: #eceff1;
  z-index: 5;
  height: 100%;
 
}
.cross{
  color: white;
  margin-top: 9px;
  margin-right: 11px;
  font-size: 20px;
  float: right;
}
.header_hbmenu{
  width: 100%;
  height: 48px;
  background-color: #005b96;
}