@media screen and (max-width: 768px)
{
#footerlong
{
  display:none;
}
#footersmall
{
  display:contents;
}
}

@media screen and (min-width: 768px)
{
    #footerlong
    {
      display:contents;
    }
#footersmall
{

  display:none;
}
}

.font{
    font-family:  Roboto;
}



#buildspan
{
 font-size:12px;
}
.footer{
    background-color:black;
    color: #d3d3d3;
    position: relative;
    min-height:60px;
    bottom: 0px;
    width:100%;
}
.copyright_text{
    /*background-color: #083A6F;*/
    background-color: black;
    color: #d3d3d3;
    bottom:5px;
    padding-left: 18px;
    font-size:12px;
}
.release_text{
    text-align: right;
    padding-right: 18px;
    bottom: 5px;
   
}
.footer_tata_branding {
	
	margin: 11px 20px 11px 20px;
	background-repeat: no-repeat;
	height: 11px;
	float: right;
}

.footer_tcs_branding {
	
	background-repeat: no-repeat;
	float: left;
	height: 14px;
	margin: 11px 0px 11px 20px;
	width: 218px;
}


@media screen and (max-width: 600px) {
    .logo{
        margin-top:4%;
        margin-left:4%;
        margin-bottom:2%;
    }
    .spanMargin{
        margin:4%;
        bottom:4%;
    }
  }
:host ::ng-deep{
  .p-dialog .p-dialog-content {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 28px;
      font-family: Roboto;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    height: 48px;
  }
  .p-button {
    width: 190px;
    height: 38px;
    font-family: Roboto;
    font-size: 16px;
    color: #ffff;
  }
}
  