<div style="border-style: solid; padding: 0px; margin: 0px; border-color: #9acbf1;">
    <img src="../assets/image/tcs.png" style="width: 100%; height: 100px;">
    
    <div class="p-5 text-sm">
        <div style="margin-left: 15px; margin-top: 25px; color: black;">
            Bughuntr is compatible with following browsers:</div>
        <ul>
            <li>Internet Explorer 11</li>
            <li>Mozila Firefox 42</li>
            <li>Google Chrome 47.0.2526.106</li>
            <li>Safari 9.0.2</li>
        </ul>
        <div style="margin-left: 15px">This Site is best viewed in
            1366x768 resolution</div>
    </div>
</div>