

:host ::ng-deep  .p-editor-toolbar {
    display: none;
}

:host ::ng-deep .p-editor-container .p-editor-content .ql-editor {
   
    color: #495057;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dee2e6;;
}

::ng-deep .ql-toolbar.ql-snow {
    padding: 0px;
    border: none;
}


::ng-deep .ql-container.ql-snow {
    border-top: 1px solid rgb(0, 0, 0);

}

